:root {
    /* Colors */
    /* --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d; */

    --color-text: #255f38;
    --color-primary: #27391c;
    --color-secondary: #1f7d53;
    --color-dark: #031f0e;
    --color-bg: #f9fff9;

    /* Fonts */
    --font-robot: 'Roboto';
}